//Copyright 2011, Marc Busqué Pérez
//
//This file is a part of Fluidizer.
//
//Fluidizer is free software: you can redistribute it and/or modify
//it under the terms of the GNU Lesser General Public License as published by
//the Free Software Foundation, either version 3 of the License, or
//(at your option) any later version.
//
//This program is distributed in the hope that it will be useful,
//but WITHOUT ANY WARRANTY; without even the implied warranty of
//MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//GNU Lesser General Public License for more details.
//
//You should have received a copy of the GNU Lesser General Public License
//along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
//////////////////////////////////////////////////////////////////////////////
//Contact: Marc Busqué Pérez - marc@lamarciana.com - http://www.lamarciana.com
//////////////////////////////////////////////////////////////////////////////
//
//DEFINITIONS USED THROUGHOUT THE DOCUMENTATION
//
//Vertical size units: An integer in pixels to tell a vertical size in pixels, or an unitless integer to indicate a vertical size in baseline units (see below).
//
//Baseline units: A unitless integer. It tells how many baseline heights the vertical size takes up.
//
//VARIABLES
//@global px Baseline height in pixels.
$baseline: 18px !default;

//@global px Initial relevant font size (usually browser default).
$initial-rfs: 16px !default;

//MIXINS
//Display the rules to create a vertical fluid box
//
///@param px|int|string|bool $line-height line-height value. In vertical size units, a string to manually indicate something or false to don't set it
///@param px|int|string|bool $height height value. In vertical size units, a string to manually indicate something, or false to don't set it
///@param px|int|string|bool $padding padding value. In vertical size units, a string to manually indicate something, or false to don't set it
///@param px|int|string|bool $boder boder value. In vertical size units, a string to manually indicate something, or false to don't set it
///@param px|int|string|bool $margin margin value. In vertical size units, a string to manually indicate something, or false to don't set it
@mixin fluid-vertical($line-height: false, $height:false, $padding: false, $border: false, $margin: false, $rfs-ref: $initial-rfs) {
   $rfs: _get-rfs($rfs-ref);
   @if ($line-height) {
      @include _em-property(line-height, $line-height, $rfs);
   }
   @if ($height) {
      @include _em-property(height, $height, $rfs);
   }
   @if ($padding) {
      $left-right-padding: _extract-top-bottom-values($padding);
      @include _em-property("padding-top", nth($left-right-padding, 1), $rfs);
      @include _em-property("padding-bottom", nth($left-right-padding, 2), $rfs);
   }
   @if ($border) {
      $left-right-border: _extract-top-bottom-values($border);
      @include _em-property("border-top-width", nth($left-right-border, 1), $rfs);
      @include _em-property("border-bottom-width", nth($left-right-border, 2), $rfs);
   }
   @if ($margin) {
      $left-right-margin: _extract-top-bottom-values($margin);
      @include _em-property("margin-top", nth($left-right-margin, 1), $rfs);
      @include _em-property("margin-bottom", nth($left-right-margin, 2), $rfs);
   }
}

//FUNCTIONS
//Return an em size since a value in vertical size units
//
//@param px|int $v-size size to be transformed to em's. In vertical size units
//@param int|px $rfs-ref relevant font size reference
//
//@return em size transformed to em's
@function em($v-size, $rfs-ref: $initial-rfs) {
   @if (unitless($v-size)) {
      $v-size: _px-from-baseline($v-size);
   }
   $rfs: _get-rfs($rfs-ref);
   $px-size: _em-from-px($v-size, $rfs);
   @return $px-size;
}

//SYSTEM MIXINS
//For given property and value, display rule with the value in em's
//
//@param string $property the property which the rule will be applied
//@param px|list|string $value Horizontal size units or a string to manually force something
//@param px $rfs relevant font size
@mixin _em-property($property, $value, $rfs) {
   @if (type_of($value) == number) {
      @if ($value == 0) {
	 #{$property}: 0;
      } @else if (unit($value) == px) {
	 #{$property}: _em-from-px($value, $rfs);
      } @else if (unitless($value)) {
	 $value: _px-from-baseline($value);
	 #{$property}: _em-from-px($value, $rfs);
      }
   } @else if (type_of($value) == string) {
      #{$property}: unquote($value);
   }
}

//SYSTEM FUNCTIONS
//Transform from baseline units to pixel
//
//@param int $baseline-size baseline units
//
//@return px baseline units transformed to pixels
@function _px-from-baseline($baseline-size) {
   @return $baseline-size * $baseline;
}

//Transform a px size to em
//
//@param px $px-size a size in pixels
//@param px $rfs relevant font size
//
//@return em size transformed to em's
@function _em-from-px($px-size, $rfs) {
   @return ($px-size / $rfs) * 1em;
}

//For a given value representing both top and bottom size, return a list of two elements, being first one top value and second one bottom value
//
//@param px|list|string $value one (the same for top and bottom) or two (first is top, second is bottom) vertical size units or string to manually indicate something
//@param px $rfs relevant font size
//
//@return list list of top and bottom values
@function _extract-top-bottom-values($value) {
   $value-top: false;
   $value-bottom: false;
   @if (type_of($value) == number) {
      @if (unit($value) == px or $value == 0) {
	 $value-top: $value;
	 $value-bottom: $value;
      } @else if (unitless($value)) {
	 $value: _px-from-baseline($value);
	 $value-top: $value;
	 $value-bottom: $value;
      }
   } @else if (type_of($value) == list) {
      $value-top: nth($value, 1);
      $value-bottom: nth($value, 2);
   } @else if (type_of($value) == string) {
      $value-top: $value;
      $value-bottom: $value;
   }
   @return ($value-top, $value-bottom);
}

//Get relevant font size in pixels since a relevant font size reference
//
//@param int|px $rfs-ref relevant font size reference
//
//@return px relevant font size in pixels
@function _get-rfs($rfs-ref) {
   @if (type_of($rfs-ref) == number) {
      @if (unit($rfs-ref) == px) {
	 @return $rfs-ref;
      } @else if (unitless($rfs-ref)) {
	 @if ($rfs-ref == -1) {
	    $last-index: length($rfs-history);
	    @return nth($rfs-history, $last-index);
	 } @else {
	    @return nth($rfs-history, $rfs-ref + 1);
	 }
      }
   }
}
