/*X*/
div {
  /*PERCENT*/
  /*size and cbw in px*/
  width: 100%;
  /*100%*/
  width: 40%;
  /*40%*/
  /*size in px, cbw in grid*/
  width: 66.667%;
  /*66.6%*/
  /*size in grid, cbw in px*/
  width: 80%;
  /*80%*/
  /*size and cbw in grid*/
  width: 42.105%;
  /*42.10%*/
  /*LAYOUT MAX WIDTH*/
  /*GRID STRATEGY*/
  /*in em's, default rfs*/
  max-width: 60em;
  /*60em*/
  /*in pixels*/
  max-width: 960px;
  /*960px*/
  /*with custom rfs*/
  max-width: 53.333em;
  /*53.3em*/
  /*NON-GRID STRATEGY*/
  /*in em, with default rfs*/
  max-width: 60em;
  /*60em*/
  /*in pixels*/
  max-width: 960px;
  /*960px*/
  /*with custom rfs*/
  max-width: 53.333em;
  /*53.3em*/
  /*FLUID X*/
  /*all values in pixels, same for left and right*/
  width: 33.333%;
  padding-left: 11.111%;
  padding-right: 11.111%;
  border-left-width: 0.222%;
  border-right-width: 0.222%;
  margin-left: 5.556%;
  margin-right: 5.556%;
  /*33.3%, 11.1%, 0.2%, 5.5%*/
  /*all values in pixels except cbw, same for left and right*/
  width: 41.667%;
  padding-left: 13.889%;
  padding-right: 13.889%;
  border-left-width: 0.278%;
  border-right-width: 0.278%;
  margin-left: 6.944%;
  margin-right: 6.944%;
  /*41.6%, 13.8%, 0.28%, 6.94%*/
  /*all values in pixels, different for left and right*/
  width: 33.333%;
  padding-left: 11.111%;
  padding-right: 5.556%;
  border-left-width: 0.222%;
  border-right-width: 0.111%;
  margin-left: 5.556%;
  margin-right: 8.333%;
  /*33.3%, 11.1%, 5.55%, 0.2%, 0.1%, 5.5%, 8.3%*/
  /*all values in grid, same for left and right*/
  width: 25%;
  padding-left: 14.286%;
  padding-right: 14.286%;
  border-left-width: 14.286%;
  border-right-width: 14.286%;
  margin-left: 14.286%;
  margin-right: 14.286%;
  /*25%, 14.28%, 14.28%, 14.28%*/
  /*all values in grid, different for left and right*/
  width: 19.444%;
  padding-left: 11.111%;
  padding-right: 19.444%;
  border-left-width: 11.111%;
  border-right-width: 19.444%;
  margin-left: 11.111%;
  margin-right: 19.444%;
  /*19.4%, 11.1%, 19.4%, 11.1%, 19.4%, 11.1%, 19.4%,*/
  /*values in pixels or grid, different for left and right*/
  width: 14.286%;
  padding-left: 7.143%;
  padding-right: 20%;
  border-left-width: 11.429%;
  border-right-width: 0.429%;
  margin-left: 11.429%;
  margin-right: 10.714%;
  /*14.29%, 7.14%, 20%, 11.43%, 0.43%, 11.43%, 10.71%*/
  /*values as strings or 0, same for left and right*/
  width: auto;
  padding-left: auto;
  padding-right: auto;
  border-left-width: 0;
  border-right-width: 0;
  margin-left: auto;
  margin-right: auto;
  /*auto, auto, 0, auto*/
  /*values as strings or 0, different for left and right*/
  width: auto;
  padding-left: auto;
  padding-right: auto;
  border-left-width: 0;
  border-right-width: 0;
  margin-left: auto;
  margin-right: auto;
  /*auto, auto, auto, 0, 0, auto, auto*/
  /*values aren't set, same for left and right*/
  /*some values aren't set, different for left and right*/
  padding-right: auto;
  border-left-width: 0;
  margin-left: 14.286%;
  /*auto, 0, 14.28%*/
  /*FLUID COLUMN*/
  float: left;
  width: 33.333%;
  padding-left: 11.111%;
  padding-right: 11.111%;
  border-left-width: 0.222%;
  border-right-width: 0.222%;
  margin-left: 5.556%;
  margin-right: 5.556%;
  /*float: left, 33.3%, 11.1%, 0.2%, 5.5%*/ }

/*Y*/
div {
  /*in pixels*/
  font-size: 1em;
  /*1em*/
  font-size: 1.313em;
  /*1.3125em*/
  font-size: 0.5em;
  /*0.5em*/
  /*in baseline units*/
  font-size: 1.125em;
  /*1.125em*/
  font-size: 0.9em;
  /*0.9em*/
  /*reset*/
  font-size: 16px;
  /*FLUID Y*/
  /*values in pixels, same value for top and bottom*/
  line-height: 0.875em;
  height: 1.125em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  border-top-width: 0.063em;
  border-bottom-width: 0.063em;
  margin-top: 0.313em;
  margin-bottom: 0.313em;
  /*0.875em, 1.125em, 0.125em, 0.0625em, 0.3125em*/
  /*values in pixels, except rfs, same value for top and bottom*/
  line-height: 0.875em;
  height: 1.125em;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  border-top-width: 0.063em;
  border-bottom-width: 0.063em;
  margin-top: 0.313em;
  margin-bottom: 0.313em;
  /*0.875em, 1.125em, 0.125em, 0.0625em, 0.3125em*/
  /*values in pixels, different for left and right*/
  line-height: 0.875em;
  height: 1.125em;
  padding-top: 0.125em;
  padding-bottom: 0.188em;
  border-top-width: 0.063em;
  border-bottom-width: 0.063em;
  margin-top: 0.313em;
  margin-bottom: 0.563em;
  /*0.875em, 1.125em, 0.125em, 0.1875em, 0.0625em 0.0625em, 0.5625em, 0.3125em*/
  /*values in baseline units, same value for top and bottom*/
  line-height: 2em;
  height: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top-width: 0.5em;
  border-bottom-width: 0.5em;
  margin-top: 3em;
  margin-bottom: 3em;
  /*2em, 1em, 0.5em, 0.5em, 3em*/
  /*values in baseline units, except rfs, same value for top and bottom*/
  line-height: 2em;
  height: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top-width: 0.5em;
  border-bottom-width: 0.5em;
  margin-top: 3em;
  margin-bottom: 3em;
  /*2em, 1em, 0.5em, 0.5em, 3em*/
  /*values in baseline units, different for top and bottom*/
  line-height: 2em;
  height: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top-width: 0.5em;
  border-bottom-width: 1em;
  margin-top: 4em;
  margin-bottom: 3em;
  /*2em, 1em, 0.5em, 0.5em, 0.5em, 1em, 4em 3em*/
  /*values in pixels or baseline, different for top and bottom*/
  line-height: 1em;
  height: 0.889em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top-width: 0.5em;
  border-bottom-width: 1em;
  margin-top: 0.889em;
  margin-bottom: 2em;
  /*1em, 0.8888em, 1em, 1em, 0.5em, 1em, 0.888e, 2em*/
  /*values as strings or 0, same for left and right*/
  line-height: auto;
  height: auto;
  padding-top: auto;
  padding-bottom: auto;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-top: auto;
  margin-bottom: auto;
  /*auto, auto, auto, 0, auto*/
  /*values as strings or 0, different for left and right*/
  line-height: auto;
  height: auto;
  padding-top: auto;
  padding-bottom: auto;
  border-top-width: 0;
  border-bottom-width: 0;
  margin-top: auto;
  margin-bottom: 0;
  /*auto, auto, auto, auto, 0, 0, auto, 0*/
  /*values aren't set, same for left and right*/
  /*some values aren't set, different for left and right*/
  line-height: 0.583em;
  padding-top: 0.5em;
  border-bottom-width: auto;
  /*0.583em, 0.5em, auto*/ }
